body {
    background-color: #505058;
    margin: 0 auto;
    width: 900px;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    display: flex;
    flex-direction: row-reverse;
    position:relative;
}

.container__background {
    position: absolute;
    z-index: 1;
}

.section_totale {
    width: 900px;
    display: flex;
}

.section_right {
    width: 600px;
    background-color: white;
    position: relative;
}

h1 {
    color: #3a4257;
    text-align: left;
    font-weight: bold;
}
.header_title {
    margin-top: 100px;
    margin-left: 16px;
    margin-right: 32px;
}

header {
    border-bottom: 2px solid #f7ac67;
}

.triangle_orange {
    border-top: 220px solid #f7ac67;
    border-left: 600px solid transparent;
    position: absolute;
    left: 300px;
}

.triangle_bleu {
    border-top: 270px solid #3a4257;
    border-right: 440px solid transparent;
    position: absolute;
}

.title_h2 {
    color: #f7ac67;
}

.diplome {
    border-bottom: 2px solid #f7ac67;
    margin-left: 16px;
    margin-right: 32px;
}

.exp_pro {
    margin-left: 16px;
    margin-right: 32px;
}

.nav {
    width: 300px;
    background-color: lightgrey;
}

.section_left {
    width: 300px;
    height: 1200px;
    background-color: lightgray;
}

.left {
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.profil_img {
    width: 180px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.profil_img:hover {
    width: 220px;
    transition: 1s;
    z-index: 2;
}

h3 {
    color: #3a4257;
    font-weight: bold ;
    text-decoration: underline;
}

